<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportsPro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
<form button="Add Technician">
<div>
<label type="text" title="Name">
<input type="textbox">
</div>
<div>
<label type="text" title="Email">
<input type="email">
</div>
<div>
<label type="text" title="Phone">
<input type="textbox">
</div>
<button title="Add Technician"></button>
</form>
</body>
</html>
