@model Technician

@{
    ViewData["Title"] = "Delete Technician";
}

<h1 class="mb-5">Confirm Deletion</h1>
<h3 class="mb-5">
    Are you sure you want to delete @Model.Name?
</h3>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianID" />

    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Technician" asp-action="List" class="btn btn-secondary">Cancel</a>
</form>
